body {
  margin: 0;
  padding: 0;
  background: #333;
}


.container {

  width: 1200px;
  margin: 20px auto;
  columns: 4;
  column-gap: 40px;

}

.box {


  margin: 0 0 20px;
  padding: 10px;
  overflow: hidden;
  background: #333;
  break-inside: avoid;




}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.box {
  flex: 50%;
  padding: 0 4px;
}

.box img {
  margin-top: 8px;
  vertical-align: middle;
}

@media(max-width:1200px) {

  .container {
    columns: 3;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
  }
}


@media(max-width:768px) {

  .container {
    columns: 2;

  }
}


@media(max-width:480px) {

  .container {
    columns: 1;

  }

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}